<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <servlet>
        <servlet-name>frontServlet</servlet-name>
        <servlet-class>com.arohau.controller.FrontController</servlet-class>
        <init-param>
            <param-name>p1</param-name>
            <param-value>test1a test1b</param-value>
        </init-param>
        <init-param>
            <param-name>p2</param-name>
            <param-value>test2a</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>frontServlet</servlet-name>
        <url-pattern>/fc</url-pattern>
    </servlet-mapping>
</web-app>